html {
    background-color: rgb(30, 30, 30);
    color: white;
    font-family: serif;
}

.game-entry {
    background-color: rgb(51, 2, 2);
    margin:4px;
}

label{
    text-transform: capitalize;
}

.flex-container {
    display:flex;
}

.container {
    flex:50%;
}